body{
    width:  auto;
    height: auto;
    margin: 1rem;
    padding: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container{
    width: 720px;
    height: 560px;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    display: inherit;
    flex-direction: column;
}

.title{
    border: 1px solid black;
    margin: 1rem ;
}

.addtionalFeature{
    border: 1px solid black;
    display: inherit;
    flex-direction: row;
}

.CharaCount-el{
    border: 1px solid black;
    margin: 1.6rem;
    display: inherit;
    /* flex-wrap: wrap; */

}

.charaToggle-el{
    border: 1px solid black;
    margin: 1.6rem;

}

#textBox{
    border: 1px solid black;
}

.passwordGenerator-btn{
    border: 1px solid black;
    
}

#line-el{
    border: 1px dotted black;
    width: 50%;
    margin: auto;
}

.textfields-el{
    border: 1px solid black;

}

